#opacity {
    opacity: 0.8;
}
body {
    max-width: 1024px;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: red;
    margin: 0 auto;
}

.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
}

p {
    color: white;
    padding: 0;
    margin: 0;
}

.header {
    margin-bottom: 2.5%;
}

.parent {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 0;
}

.innerOverlay {
    position: absolute;
    width: 30%;
    right: 40%;
    bottom: 50%;
    top: 30%;
    left: 35%;
}

h5, h6 {
    margin-top: 2.5%;
    color: #777;
}

.mainDisplay {
    background-color: black;
    max-width: 100%;
}

.activeWords {
    font-size: 1.5em;
    letter-spacing: 0.3em;
    color: #777;
}

#revealedAnswerDisplay {
    color: red;
}

#guessesMadeDisplay {
    font-size: 0.8em;
}

.correct {
    color: green;
    font-weight: bold;
}

#coolFont {
    font-family: 'Shrikhand', cursive;
    font-size: 40px;
    color: #9A2617;
}